.search {
	display: flex; 
	justify-content: space-between;
	margin: 20px auto;
	align-items: center;
	gap: 4px;
	max-width: 800px;
	padding: 12px;
	border-radius:  6px;
	background: #cce6f3; 
	border: solid black 1px;
	height: 80px;
	width: 570px;
}
.field{
	background-color: rgb(241, 241, 241);
}

  .label {
	font-weight: bold;
	color: rgb(67, 49, 83);
  }

  .btn{
	 display: flex; 
	 gap:20px;
	 cursor: pointer;
	 
  }
  .btn:hover{
	color:rgb(255, 255, 255);
	background-color: rgb(73, 90, 161);}