.form {
	display: flex;
	flex-direction: column;
	background: #ced7ff6c;
	gap: 4px;
	max-width: 400px;
	width: 100%;
	margin: 20px auto;
	padding: 10px;
	border: 2px solid #0d0b66;
	border-radius: 4px;
  }
  
  .group {
	display: flex;
	flex-direction: column;
	gap: 4px;
	border-radius: 4px;
  }
  
  .label {
	font-weight: bold;
  }

  .button {
	padding: 10px;
	font-size: 16px;
	background-color: #83afd3;
	color: rgb(18, 6, 46);
	border: 2px solid rgb(4, 65, 65);
	border-radius: 4px;
	cursor: pointer;
	margin: 10px;
	transition: color 0.5s;
	transition: background-color 0.5s ;
  }
  .button:hover{
	color:rgb(255, 255, 255);
	background-color: #5387be;
  }
  
  .error {
	font-size: 14px;
	color: orangered;
  }
  