  .item{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 6px;
  }
.divitem{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	margin: 10px;
}